.App {
  display: flex;
  flex-direction: column;
  height: 98vh;
}

header {
  flex: 1;
  border-bottom: 1px solid #eeeeee;
}

header h1 {
  margin: 0;
  padding: 10px;
}

.app-header {
  text-transform: uppercase;
}

main {
 flex: 10;
 font-size: 60px;
}

footer {
  flex: 1;
  border-top: 1px solid #eeeeee;
}

footer p {
  margin: 0;
  padding: 10px;
}

.clocks-container {
  display: flex;
  justify-content: space-around;
}

.clocks {
  border-bottom: 1px solid #eeeeee;
}

.clocks p{
  margin: 0;
}

.time-controllers{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-controllers button{
  width: 300px;
  margin-top: 25px;
}

.timepicker {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.timepicker-time {
  display: flex;
  font-size: 28px;
}

.timepicker-time input{
  width: 88px;
  font-size: 60px;
}

.timepicker-time p{
  font-size: 52px;
  margin: 0 10px;
}

@media (max-width: 1000px) {
  .clocks-container {
    flex-direction: column;
  }
  .clocks {
    display: flex;
    justify-content: center;
  }
}